@import url('./import/mixins.less');
@import url('./import/variables.less');
@import url('./import/reset.less');

@font-face {
	font-family: 'PF';
	src: url('../fonts/pfdintextcomppro-medium.ttf');
	font-weight: normal;
	font-style: normal;
}

// General
*{
	font-family: 'PF';
}
.top{
	position: absolute;
	line-height: 100px;
	top:0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100px;
	z-index: 999;
	.social{
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;

		.social__in {
			margin: 0 auto;
			max-width: 100px;

		}

		a{
			float: left;
			color: #fff;
			padding: 0 10px;
			//transition: all 1s;
			&:hover{
				color: #d5d5d5;
				margin-top: 2px;
			}
		}
	}
}
.container-fluid{
	padding: 0;
}

.navbar{
	margin-bottom: 0;
	border: none;
	background:none;
	.navbar-header a {
		color: #fff;
		line-height: 70px;
		font-family: @font-family_1;
	}
	.navbar-collapse ul li a{
		color: #fff;
		line-height: 70px;
		font-size: 24px;
		font-family: @font-family_1;
	}
}
.banner{
	width: 100%;
	height: 680px;
	background:  url(../images/header_bg.jpg) 0 0  no-repeat fixed;
	background-size: 100% 100%;
	overflow: hidden;
	h2{
		width: 700px;
		display: block;
		margin: 0 auto;
		color: @content_text;
		font-size: 40px;
		padding: 230px 0 35px 0;
		text-align: center;
		text-transform: uppercase;
		font-family: @font-family_1;
	}
	hr{
		display: block;
		border: 3px solid #fff;
		margin: 0 auto;
		width: 65px;
	}
	p{
		padding: 35px 0;
		line-height: 23px;
		color: @content_text;
		font-size: 20px;
		text-align: center;
		width: 900px;
		display: block;
		margin: 0 auto;
		font-family: @font-family_1;
	}
}
// Hr
.hr{
	display: block;
	border: 2px solid orange;
	margin: 0 auto;
	width: 65px;
}
// Block
.block{
	width: 100%;
	min-height: 680px;
	overflow: hidden;
	background: #fff;
	h2{
		font-size: 36px;
		padding: 35px 0;
		text-align: center;
		text-transform: uppercase;
		font-family: @font-family_1;
	}
	p{
		font-size: 20px;
		padding: 35px 0;
		text-align: center;
		font-family: @font-family_1;
	}
	.block__main{
		margin-top: 35px;
		.row div{

			//background: yellow;
			margin: 0 auto;

			.image{
				overflow: hidden;
				height: 280px;
				width: 280px;
				//border: 3px orange double;

				border-radius: 20%;
				margin: 0 auto;
				display: block;
				img{
					display: block;
					width: 280px;

					height: 280px;
				}
			}
			h3{
				font-size: 20px;
				padding: 35px 0;
				text-align: center;
				font-family: @font-family_1;
			}
			p{
				width: 70%;
				margin:0 auto;
				text-align: center;
				font-size: 14px;
				font-family: @font-family_1;
			}
		}
	}
}
//html body div.container.wow.fadeInUp div.block.wow.fadeIn div.row div.col-xs-4 div.image{
//	overflow: hidden;
//	height: 150px;
//	width: 150px;
//	border: 3px orange solid;
//	border-radius: 50%;
//	margin: 0 auto;
//	display: block;
//	img{
//		display: block;
//	}
//}
// Gallery
.galley{

	background-color: #f1f1f1;
	//height: 950px;
	width: 100%;
	padding: 20px;
	padding-bottom: 35px;
	h2{
		font-size: 36px;
		padding: 35px 0;
		text-align: center;
		font-family: @font-family_1;
	}
}
.swiper-container {
	width: 100%;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
}
.swiper-slide {
	background-size: cover;
	background-position: center;
}




.gallery-top {
	//height: 600px;
	//width: 100%;
}
.gallery-thumbs {
	height: 200px;
	box-sizing: border-box;
	padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
	opacity: 1;
}
.swiper-wrapper{
	height: 90%;
}

// Price

.price__block{
	padding-bottom: 35px;
	h2{
		font-size: 36px;
		padding: 35px 0;
		text-align: center;
		font-family: @font-family_1;
	}
	p{
		padding: 35px 0;
		line-height: 23px;
		color: #000;
		font-size: 20px;
		text-align: center;
		display: block;
		margin: 0 auto;
		font-family: @font-family_1;
	}
	.price{
		width: 100%;
		float: left;
		overflow: hidden;
		.price__in{
			margin: 0 auto;
			width: 80%;
			min-height: 365px;
			background-color: #333;
			padding: 20px 0;
			position: relative;
			h3{
				font-size: 36px;
				color: #fff;
				text-align: center;
				border-bottom: 1px #fff solid;
				padding-bottom: 20px;
				font-family: @font-family_1;
			}
			h4{
				font-size: 60px;
				color: #fff;
				text-align: center;
				padding: 20px 0 30px;
				font-family: @font-family_1;
				position: relative;
				&::before{
					content: 'грн.';
					position: absolute;
					left: 80px;
					bottom: 25px;
					color: #fff;
					font-size: 24px;
					font-family: @font-family_1;
				}
			}
			//span{
			//	color: #fff;
			//	font-size: 24px;
			//	font-family: @font-family_1;
			//	left: 45px;
			//	line-height: 5px;
			//	position: absolute;
			//	top: 150px;
			//	font-family: @font-family_1;
			//}
			p{
				border-top: 1px solid;
				padding: 20px;
				font-size: 24px;
				line-height: 30px;
				color:#fff;
				font-family: @font-family_1;
			}
		}


	}

	>h4{
		padding: 35px 0;
		line-height: 23px;
		color: #000;
		font-size: 20px;
		text-align: center;
		display: block;
		margin: 0 auto;
		font-family: @font-family_1;
	}
	ul li{
		font-size: 16px;
		line-height: 30px;
		color:#000;
		text-align: center;
		font-family: @font-family_1;
	}

}


// Reviews
.reviews {
	width: 100%;
	height: 680px;
	h2 {
		font-size: 36px;
		font-family: @font-family_1;
		padding: 35px 0;
		text-align: center;
	}
	p {
		font-family: @font-family_1;
		padding: 35px 0;
		line-height: 23px;
		color: #000;
		font-size: 20px;
		text-align: center;
		//width: 900px;
		display: block;
		margin: 0 auto;
	}
	.row div{

		//background: yellow;
		margin: 0 auto;

		.image{
			overflow: hidden;
			height: 230px;
			width: 230px;
			//border: 3px orange double;

			border-radius: 50%;
			margin: 0 auto;
			display: block;
			img{
				display: block;
				width: 230px;

				height: 280px;
			}
		}
		h3{
			font-size: 20px;
			font-family: @font-family_1;
			padding: 35px 0;
			text-align: center;
		}
		p{
			width: 70%;
			margin:0 auto;
			text-align: center;
			font-size: 14px;
			font-family: @font-family_1;
		}
	}
}
// Contact
.contact{
	h2 {
		font-size: 36px;
		font-family: @font-family_1;
		padding: 35px 0;
		text-align: center;
	}
	h3{
		font-size: 24px;
		font-family: @font-family_1;
		padding: 35px 0;
		text-align: center;
	}
	p {
		font-family: @font-family_1;
		padding: 35px 0;
		line-height: 23px;
		color: #000;
		font-size: 20px;
		text-align: center;
		//width: 900px;
		display: block;
		margin: 0 auto;
	}

}


.review_slider{
	width: 1000px;;
}


.review-img img{
	border-radius: 100%;
	width: 200px;
	height: 220px;
	margin: 40px 90px;
	float: left;
}

.username{
	font-family: @font-family_1;
	margin: 60px 0 30px;
	font-size: 24px;
}

.review-text{
	color: #888;
	width: 900px;
	line-height: 1.5;
}
.review-title {
	padding: 30px 0 0;
	font-family: @font-family_1;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
}

.contact{
	h2{
		font-family: @font-family_1;
		font-size: 50px;
	}
	padding: 20px;
}

// Footer
footer{
	//margin-top: 35px;
	background-color: #333;
	color:#fff;
	padding: 35px 5px;
}

.footer_title{
	float: left;
	display: inline-block;
	font-family: @font-family_1;
	font-size: 24px;
}
.footer_number{
	text-align: center;
	width: 400px;
	margin: 0 auto;
	font-family: @font-family_1;
		a{
			font-size: 24px;
			color: #fff;
		}

}
.footer_soc{
	float: right;
	a{
		font-size: 24px;
		color: #fff;
		padding: 0 10px;
	}

}
.footer_soc a{
	//float: left;
	font-family: @font-family_1;
	font-size: 24px;
}


// Modifine
.grey{
	background-color: #f1f1f1;


}
