@import url('./import/mixins.less');
@import url('./import/variables.less');
@import url('./import/reset.less');

@font-face {
	font-family: 'PF';
	src: url('../fonts/pfdintextcomppro-medium.ttf');
	font-weight: normal;
	font-style: normal;
}

// General
*{
	margin: 0;
	padding: 0;
	font-family: 'PF';
}
.top{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	margin: auto;
	//background-color: rgba(0, 0, 0, 0.2);
	background-color: rgba(42,103,164, 0.95);
	width: 100%;
	height: auto;
	z-index: 999;
	font-size: 120%;
	.social{
		margin:0 auto;
		text-align: center;

		.social__in {
			margin: 0 auto;
			//max-width: 100px;

		}

		a{
			line-height: 65px;
			color: #fff;
			padding: 0 10px;
			transition: all 1s;
			&:hover{
				color: #d5d5d5;
				margin-top: 2px;
			}
		}
	}
	.logo{
		a{
			display: block;
			width: 100%;
			line-height: 65px;
			color: #fff;
			font-family: 'PF';
			text-align: left;
		}
	}
	.contact-top{
		span{
			display: block;
			width: 100%;
			//line-height: 65px;
			color: #fff;
			font-family: 'PF';
			text-align: right;
			line-height: 65px;
		}
	}
}

.fix-top{
	position: fixed;
	top:0px;
	left: 0;
	right: 0;
	margin: auto;
	background-color: rgba(42,103,164, 0.95);
	width: 100%;
	color: #000;
	height: auto;
	transition: background-color 1s;
}
.container-fluid{
	padding: 0;
}

.navbar{
	margin-bottom: 0;
	border: none;
	background:none;
	.navbar-header a {
		color: #fff;
		line-height: 70px;
		font-family: @font-family_1;
	}
	.navbar-collapse ul li a{
		color: #fff;
		line-height: 70px;
		font-size: 24px;
		font-family: @font-family_1;
	}
}
.banner{
	width: 100%;
	height: 680px;
	background:  url(../images/header_bg.jpg) 0 0  no-repeat fixed;
	background-size: 100% 100%;
	overflow: hidden;
	padding: 0 10px;
	h2{
		display: block;
		margin: 0 auto;
		color: @content_text;
		font-size: 40px;
		padding: 230px 0 35px 0;
		text-align: center;
		text-transform: uppercase;
		font-family: @font-family_1;
	}
	hr{
		display: block;
		border: 3px solid #fff;
		margin: 0 auto;
		width: 65px;
	}
	p{
		padding: 35px 0;
		line-height: 23px;
		color: @content_text;
		font-size: 20px;
		text-align: center;
		display: block;
		margin: 0 auto;
		font-family: @font-family_1;
	}
}
// Hr
.hr{
	display: block;
	border: 2px solid orange;
	margin: 0 auto;
	width: 65px;
}
// Block
.block{
	width: 100%;
	//min-height: 680px;
	overflow: hidden;
	overflow: hidden;
	background: #fff;
	h2{
		font-size: 36px;
		padding: 35px 0;
		text-align: center;
		text-transform: uppercase;
		font-family: @font-family_1;
	}
	h3{
		font-size: 20px;
		padding-top: 35px;
		text-align: center;
		font-family: @font-family_1;
	}
	.block__main{
		margin-top: 35px;
		.row div{

			//background: yellow;
			margin: 0 auto;

			.image{
				overflow: hidden;
				height: auto;
				width: 95%;
				//border: 3px orange double;

				border-radius: 20%;
				margin: 0 auto;
				display: block;
				img{
					display: block;
					width: 100%;

					min-height: 320px;
				}
			}
			h3{
				font-size: 20px;
				padding: 35px 0;
				text-align: center;
				font-family: @font-family_1;
			}
			p{
				width: 70%;
				margin:0 auto;
				text-align: center;
				font-size: 14px;
				font-family: @font-family_1;
			}
		}
	}
}


// Price

.price__block{
	padding-bottom: 35px;
	h2{
		font-size: 36px;
		padding: 35px 0;
		text-align: center;
		font-family: @font-family_1;
	}
	p{
		padding: 35px 0;
		line-height: 23px;
		color: #000;
		font-size: 20px;
		text-align: center;
		display: block;
		margin: 0 auto;
		font-family: @font-family_1;
	}
	.price{
		padding-top: 35px;
		width: 100%;
		//max-width: 300px;
		//margin: 0 auto;
		float: left;
		overflow: hidden;
		.price__in{
			margin: 0 auto;
			width: 80%;
			min-height: 365px;
			background-color: #333;
			padding: 20px 0;
			position: relative;
			h3{
				font-size: 36px;
				color: #fff;
				text-align: center;
				border-bottom: 1px #fff solid;
				padding-bottom: 20px;
				font-family: @font-family_1;
			}
			h4{
				font-size: 60px;
				color: #fff;
				text-align: center;
				padding: 20px 0 30px;
				font-family: @font-family_1;
				position: relative;
				&::before{
					content: 'грн.';
					position: absolute;
					left: 80px;
					bottom: 25px;
					color: #fff;
					font-size: 24px;
					font-family: @font-family_1;
				}
			}
			p{
				border-top: 1px solid;
				padding: 20px;
				font-size: 24px;
				line-height: 30px;
				color:#fff;
				font-family: @font-family_1;
			}
		}


	}

	>h4{
		padding: 35px 0;
		line-height: 23px;
		color: #000;
		font-size: 20px;
		text-align: center;
		display: block;
		margin: 0 auto;
		font-family: @font-family_1;
	}
	ul li{
		font-size: 16px;
		line-height: 30px;
		color:#000;
		text-align: center;
		font-family: @font-family_1;
	}

}


// Reviews
.reviews {
	width: 100%;
	height: 680px;
	h2 {
		font-size: 36px;
		font-family: @font-family_1;
		padding: 35px 0;
		text-align: center;
	}
	p {
		font-family: @font-family_1;
		padding: 35px 0;
		line-height: 23px;
		color: #000;
		font-size: 20px;
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	.row div{

		//background: yellow;
		margin: 0 auto;

		.image{
			overflow: hidden;
			height: 230px;
			width: 230px;
			border-radius: 50%;
			margin: 0 auto;
			display: block;
			img{
				display: block;
				width: 230px;
				height: 280px;
			}
		}
		h3{
			font-size: 20px;
			font-family: @font-family_1;
			padding: 35px 0;
			text-align: center;
		}
		p{
			width: 70%;
			margin:0 auto;
			text-align: center;
			font-size: 14px;
			font-family: @font-family_1;
		}
	}
}


// Slider top

.galley{

	background-color: #f1f1f1;
	//height: 350px;
	width: 100%;
	padding: 20px;
	padding-bottom: 35px;
	h2{
		font-size: 36px;
		padding: 35px 0;
		text-align: center;
		font-family: @font-family_1;
	}
}
.swiper-container {
	width: 100%;
	//height: 350px;
	margin-left: auto;
	margin-right: auto;
}
.swiper-slide {
	background-size: cover;
	background-position: center;
}


.gallery-thumbs {
	height: 200px;
	box-sizing: border-box;
	padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
	opacity: 1;
}
.swiper-wrapper{
	height: 90%;
}
.swiper-wrapper-top{
	height: 350px;
}
.swiper-container.gallery-top{
	height: 450px;
}

// Contact
.contact{
	h2 {
		font-size: 36px;
		font-family: @font-family_1;
		padding: 35px 0;
		text-align: center;
	}
	h3{
		font-size: 24px;
		font-family: @font-family_1;
		padding: 35px 0;
		text-align: center;
	}
	p {
		font-family: @font-family_1;
		padding: 35px 0;
		line-height: 23px;
		color: #000;
		font-size: 20px;
		text-align: center;
		display: block;
		margin: 0 auto;
	}

}


// Review
.swiper-container{
	height: auto;
}
.swiper-slide{
	margin-top: 35px;
}
.review_slider{
	//width: 1000px;;
	width: 100%;
	//height: 300px;
}



.review-img img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	//margin: 40px 90px;
	//float: left;
	margin: 35px auto;
}

.username{
	font-family: @font-family_1;
	margin: 70px 0 35px;
	//margin: 0 auto;
	//margin-top: 35px;
	font-size: 24px;
	//text-align: center;
}

.review-text{
	color: #888;
	//width: 900px;
	line-height: 1.5;
	margin-bottom: 35px;
	//text-align: center;
}
.review-title {
	padding: 30px 0 0;
	font-family: @font-family_1;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
}

.contact{
	h2{
		font-family: @font-family_1;
		font-size: 50px;
	}
	padding: 20px;
}

// Footer
footer{
	//margin-top: 35px;
	background-color: #333;
	color:#fff;
	padding: 35px 5px;
}

.footer_title{
	float: left;
	display: inline-block;
	font-family: @font-family_1;
	font-size: 24px;
}
.footer_number{
	text-align: center;
	margin: 0 auto;
	font-family: @font-family_1;
		span{
			font-size: 24px;
			color: #fff;
		}

}
.footer_soc{
	float: right;
	text-align: right;
	a{
		font-size: 24px;
		color: #fff;
		padding: 0 10px;

	}

}
.footer_soc a{
	font-family: @font-family_1;
	font-size: 24px;
}


// Button back top

#back-top{
	background-color: rgba(42,103,164, 0.85);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: none;
	position: fixed;
	bottom: 50px;
	right: 50px;
	cursor: pointer;
	transition: background-color 1s;
	z-index: 999;
		i{
			display: block;
			margin: 0 auto;
			text-align: center;
			color: #fff;
			margin-top:10px;
			font-size: 24px;

		}
	&:hover{
		background-color: rgba(42,103,164, 0.55);
	}
}

// Modifine
.grey{
	background-color: #f1f1f1;


}

@media only screen and (max-width: 768px) {
	.top .contact-top span {
		text-align: center;
	}
		.logo {
			display: none;

		}
		.social__in {
			display: none;
		}
		.footer_number{
			display: none;
		}
		.footer_title{
			display: none;
		}
		.footer_soc{
			.soc_vk{
				margin: 0 auto;
				text-align: center;
			}

		}
		#back-top {

			bottom: 10px;
			right: 10px;
		}
		.price__block .price .price__in h4::before {
			left: 55px;
		}
	.username{
		text-align: center;
	}


	.review-text {
		text-align: center;
	}

	.gallery-top {
		.swiper-slide {
			//width: 100%;
			height: 50px;
		}
	}
			.swiper-container.gallery-top {
			height: 150px;
		}
	//.galley{
	//	display: none;
	//}
	.owl-pagination{
		display: none;
	}
	html body div.container-fluid.wow.fadeInUp.grey div.container div.galley div#owl-demo.owl-carousel.owl-theme div.owl-wrapper-outer div.owl-wrapper div.owl-item div.item img
	{
		height: 170px;
	}
}

//owl carusel




 #owl-demo .item{
	 margin: 3px;
 }
#owl-demo .item img{
	display: block;
	width: 100%;
	height: auto;
	height: 250px;
}
